<div class="row skeleton">
    <h2>
        <span id="tasks_completed">You are on question</span>
        <span id="done" class="label label-info"></span> of <span id="total" class="label label-info"></span>
    </h2>
    <div id="question">
    </div>
    <div id="age" class="survey_choices">
        <div class="panel panel-default">
            <input type="text" class="form-control">
        </div>
    </div>
    <div id="gender" class="survey_choices">
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="male"> Male
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="female"> Female
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="other"> Other
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="declined"> Decline to mention
            </label>
        </div>
    </div>
    <div id="employment" class="survey_choices">
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="employed"> Employed
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="unemployed"> Unemployed
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="student"> Student
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="retired"> Retired
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="declined"> Decline to mention
            </label>
        </div>
    </div>
    <div id="participate_mm" class="survey_choices">
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="yes"> Yes
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="no"> No
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="cantrecall"> Can't recall
            </label>
        </div>
    </div>
    <div id="participate_dv" class="survey_choices">
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="yes"> Yes
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="no"> No
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="radio" name="answers" value="cant_recall"> Can't recall
            </label>
        </div>
    </div>
    <div id="why" class="survey_choices">
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="curiosity"> Curiosity
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="friend"> Recommended by a friend
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="help_emergency_responders"> Want to help emergency responders
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="help_people_onground"> Want to help people on the ground in the affected area
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="personally_connected"> I am personally connected to this event
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="extra_time"> I have some extra time on my hands
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="other"> Other
            </label>
        </div>
    </div>
    <div id="how" class="survey_choices">
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="social_media"> Social Media
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="email"> Email
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="blog"> Blog
            </label>
        </div>
        <div class="panel panel-default">
            <label>
              <input type="checkbox" name="answers" value="other"> Other
            </label>
        </div>
    </div>
    <div id="email" class="survey_choices">
        <div class="panel panel-default">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" id="next" value='Next' disabled>Next</button>
    <br><br>
</div>
<div id="finish" class="row" style="visibility:hidden;">
    <!-- Success and Error Messages for the user --> 
    <div class="col-md-6 col-md-offset-2" style="height:50px">
        <div class="alert alert-success">
            <strong id="i18n_congratulations">Thank you for completing the survey!</strong> <span id="i18n_congratulations_text">Please Click the button to proceed to the next step.</span>
            <br/>
            <div class="alert-actions">
                <a class="btn small" href="/app/se_pre_nofb/newtask">OK</a>
            </div>
        </div>
    </div>
</div>
<script>
    // Your JavaScript code
    function loadUserProgress() {
        pybossa.userProgress('survey').done(function(data){
            var pct = Math.round((data.done*100)/data.total);
            $("#progress").css("width", pct.toString() +"%");
            $("#progress").text(pct.toString() + "%"); 
            $("#total").text(data.total);
            var done = data.done + 1;
            $("#done").text(done);
        });
    }
    
    pybossa.taskLoaded(function(task, deferred){
        if ( !$.isEmptyObject(task) ) {
            var p = $('<p/>');
            p.text(task.info.question);
            task.info.question = p;
            deferred.resolve(task);
        }
        else {
            deferred.resolve(task);
        }
    });

    pybossa.presentTask(function(task, deferred) {
        if ( !$.isEmptyObject(task) ) {
            loadUserProgress();
            $('#question').html("<h3>"+task.info.question_text+"</h3>");
            var question_id = task.info.question_id;
            $('.survey_choices').hide();
            $('#'+question_id).show();
            
            if(question_id == "age" || question_id == "email") {
                $('#next').removeAttr('disabled');
            }
            else {
                $("input[type='radio']").change(function(event){
                    if($(event.target).is(':checked')) {
                        $('#next').removeAttr('disabled');
                    }
                    else {
                        $('#next').attr('disabled','disabled');
                    }
                });

                $("input[type='checkbox']").change(function(event){
                    if($(event.target).is(':checked')) {
                        $('#next').removeAttr('disabled');
                    }
                    else {
                        $('#next').attr('disabled','disabled');
                    }
                });
            }

            $('#next').off('click').on('click', function(event) {
                var choice_type = task.info.question_choicetype;
                if(choice_type == "text") {
                    selectedAnswer = $("input[type='text']").val();
                }
                else if(choice_type == "checkbox") {
                    selectedAnswer = '';
                    $("input[type='checkbox']:checked").each(function() {
                        selectedAnswer += $(this).val()+',';
                    });
                    $("input[type='checkbox']").attr('checked', false);
                }
                else {
                    selectedAnswer = $("input[type='radio']:checked").val();
                }
                pybossa.saveTask(task.id, selectedAnswer).done(function() {
                    deferred.resolve();
                });
            });
        }
        else {
            window.location.href = "/app/pre_sem/newtask";
        }
    });

    pybossa.run('survey');
</script>

