<div class="row skeleton">
    <h3>
        <strong>
        <span id="tasks_completed">You are on task </span>
        <span id="done" class="label label-info"></span> of <span id="total" class="label label-info"></span> in this batch
        </strong>
    </h3>
    Please select the type of the following tweet:
    <div class="row">
      <div class="span6">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><i class="icon icon-user"></i>&nbsp;<strong>Username</strong>&nbsp;&nbsp;@username&nbsp;&nbsp;.&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td id="tweet"></td>
            </tr>
            <tr>
              <td><i class="icon icon-share-alt"></i>&emsp;&emsp;<i class="icon icon-retweet"></i>&nbsp;&nbsp;--&emsp;&emsp;<i class="icon icon-star"></i>&nbsp;&nbsp;--</td>
            </tr>
          </tbody>
        </table>
      </div>
  	</div>
    <div class="panel panel-default">
        <label>
          <input type="radio" name="answers" value="injury"> Injury/Fatality
        </label>
    </div>
    <div class="panel panel-default">
        <label>
          <input type="radio" name="answers" value="damage"> Damage
        </label>
    </div>
    <div class="panel panel-default">
        <label>
          <input type="radio" name="answers" value="shelter"> Shelter
        </label>
    </div>
    <div class="panel panel-default">
        <label>
          <input type="radio" name="answers" value="food"> Food/Water
        </label>
    </div>
    <div class="panel panel-default">
        <label>
          <input type="radio" name="answers" value="other"> Other Useful Info
        </label>
    </div>
    <div class="panel panel-default">
        <label>
          <input type="radio" name="answers" value="none"> None of the above
        </label>
    </div>
    <br>
    <!--div id="feedback" class="alert" role="alert"></div-->
    <button type="button" class="btn btn-primary" disabled="disabled" id="confirm" value='Confirm'>Next</button>
</div>
<div id="finish" class="row" style="visibility:hidden;">
    <div class="modal" style="position:absolute;top:15%;left:25%;z-index:1">
        <div class="modal-body">
            You have completed a batch of twenty tweets. Please continue with your next batch or sign out and come back later.<br><br>
            Your help is highly appreciated. Thank you.
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="continue" value='continue'>Continue</button>
                <button type="button" class="btn btn-primary" id="signout" value='signout'>Sign out</button>
            </div>
        </div>
    </div>
</div>
<script>
    // Your JavaScript code
    function loadUserProgress() {
        pybossa.userProgress('tweetclicker_post_nofb').done(function(data){
            var pct = Math.round((data.done*100)/data.total);
            $("#total").text("20");
            var done = data.done % 20 + 1;
            $("#done").text(done);
            if(data.total >= 20 && data.done % 20 == 0 && data.done > 0) {
                $(".skeleton").hide();
                $("#finish").css("visibility","visible");
            }
            $('#continue').click(
                function() {
                    $(".skeleton").show();
                    $("#finish").css("visibility","hidden");
                }
            );
            $('#signout').click(
                function() {
                    window.location.href = "/account/signout";
                }
            );
        });
    }
    
    pybossa.taskLoaded(function(task, deferred){
        if ( !$.isEmptyObject(task) ) {
            var p = $('<p/>');
            p.text(task.info.tweet);
            task.info.tweet = p;
            deferred.resolve(task);
        }
        else {
            deferred.resolve(task);
        }
    });

    pybossa.presentTask(function(task, deferred) {
        if ( !$.isEmptyObject(task) ) {
            $('#tweet').html(task.info.tweet_text);
            var tweet_type = task.info.tweet_type;
            var tweet_answer = task.info.tweet_category;
            loadUserProgress();
            
            $("input[type='radio']").change(function(event){
                if($(event.target).is(':checked')) {
                    $('#confirm').removeAttr('disabled');
                }
                else {
                    $('#confirm').attr('disabled','disabled');
                }
            });

            $('#confirm').off('click').on('click', function(event) {
                selectedAnswer = $("input[type='radio']:checked");
                pybossa.saveTask(task.id, selectedAnswer.val()).done(function() {
                    deferred.resolve();
                });
                $(event.target).attr('disabled','disabled');
                $("input[type='radio']").removeAttr('disabled');
                $("input[type='radio']").attr("checked",false);
            });
        }
        else {
            alert("You have coded all the tweets. Thank you for your time and effort. Your work is greatly appreciated");
            window.location.href = "/account/signout";
        }
    });

    pybossa.run('tweetclicker_post_nofb');
</script>
