<div class="row">
    <div class="col-md-12">
        <div class="modal">
            <div class="modal-body">
                <p>
                    Your first batch is now complete.
                    <br><br>
                    <span id="from_ncg" style="display:none">As you continue to work, you will <strong>no longer get feedback on your selections</strong>.</span>
                    <span id="from_cg" style="display:none">Please continue <strong>categorizing tweets</strong>.</span>
                    <br><br>
                    <strong>Remember: There is no right or wrong categorization for a tweet. Trust your intuitions.</strong>
                    <br><br>
                    Thank you again!
                </p>
                <br>
                <div class="modal-footer">
                    <a id="startContrib" href="/app/tweetclicker_post_nofb/newtask" class="btn btn-primary"><i class="fa fa-thumbs-o-up"></i> Start</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('document').ready(
        function(){
            var url = document.referrer;
            var res = url.split("/");
            if(res[4] == "post_sem_ncg") {
                $('#from_ncg').show();
            }
	    else {
		$('#from_cg').show();
	    }
        }
    );
</script>
